In [2]:
import pandas as pd

In [3]:
archivo_tic = pd.read_stata('C:/Users/sebas/Downloads/Tecnologias de informacion y comunicacion/Tecnologías de información y comunicación.DTA')

In [4]:
archivo_tic.head()

,DIRECTORIO,SECUENCIA_ENCUESTA,SECUENCIA_P,ORDEN,FEX_C,P1910,P1911,P1912,P1084,P1710,...,P1080S4,P1080S5,P1080S6,P804,P805,P805S1,P805S2,P805S3,P805S4,P805S5
0,7910114.0,1.0,1.0,1.0,282.370945,5.0,5.0,5.0,1.0,NaN,...,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
1,7910114.0,2.0,1.0,2.0,282.370945,2.0,5.0,5.0,1.0,NaN,...,1.0,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN
2,7910115.0,1.0,1.0,1.0,3.054217,5.0,5.0,5.0,5.0,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
3,7910115.0,2.0,1.0,2.0,3.054217,5.0,5.0,5.0,5.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN
4,7910115.0,3.0,1.0,3.0,3.054217,5.0,2.0,5.0,2.0,NaN,...,NaN,NaN,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN

In [ ]:
archivo_tic.to_excel('C:/Users/sebas/Downloads/Tecnologias de informacion y comunicacion/Tecnologías_de_información_y_comunicación.xlsx', index=False)

In [4]:
archivo_tic.to_csv('C:/Users/sebas/Downloads/Tecnologias de informacion y comunicacion/Tecnologías_de_información_y_comunicación.csv', index=False)

In [1]:
import pandas as pd

# Intenta leer el archivo .DTA usando pd.read_stata()
try:
    archivo_tic = pd.read_stata('C:/Users/sebas/Downloads/Tecnologias de informacion y comunicacion/Tecnologías de información y comunicación.DTA')
    print("Archivo leído exitosamente con pd.read_stata()")
except Exception as e:
    print(f"Error al leer con pd.read_stata(): {e}")
    
    # Si falla, intenta con diferentes codificaciones
    encodings = ['utf-8', 'latin1', 'iso-8859-1', 'cp1252']
    for encoding in encodings:
        try:
            archivo_tic = pd.read_csv('C:/Users/sebas/Downloads/Tecnologias de informacion y comunicacion/Tecnologías de información y comunicación.DTA', encoding=encoding)
            print(f"Archivo leído exitosamente con pd.read_csv() usando codificación {encoding}")
            break
        except Exception as e:
            print(f"Error al leer con codificación {encoding}: {e}")
    else:
        print("No se pudo leer el archivo con ninguna de las codificaciones probadas.")

# Si se logró leer el archivo, muestra las primeras filas
if 'archivo_tic' in locals():
    print(archivo_tic.head())
else:
    print("No se pudo leer el archivo.")

Archivo leído exitosamente con pd.read_stata()
   DIRECTORIO  SECUENCIA_ENCUESTA  SECUENCIA_P  ORDEN       FEX_C  P1910  \
0   7910114.0                 1.0          1.0    1.0  282.370945    5.0
1   7910114.0                 2.0          1.0    2.0  282.370945    2.0
2   7910115.0                 1.0          1.0    1.0    3.054217    5.0
3   7910115.0                 2.0          1.0    2.0    3.054217    5.0
4   7910115.0                 3.0          1.0    3.0    3.054217    5.0

   P1911  P1912  P1084  P1710  ...  P1080S4  P1080S5  P1080S6  P804  P805  \
0    5.0    5.0    1.0    NaN  ...      1.0      NaN      NaN   1.0   NaN
1    5.0    5.0    1.0    NaN  ...      1.0      NaN      NaN   1.0   NaN
2    5.0    5.0    5.0    NaN  ...      NaN      NaN      NaN   1.0   NaN
3    5.0    5.0    5.0    NaN  ...      NaN      NaN      NaN   2.0   NaN
4    2.0    5.0    2.0    NaN  ...      NaN      NaN      NaN   2.0   NaN

   P805S1  P805S2  P805S3  P805S4  P805S5
0     1.0     NaN     NaN     NaN     NaN
1     1.0     NaN     1.0     NaN     NaN
2     NaN     NaN     1.0     NaN     NaN
3     NaN     NaN     1.0     NaN     NaN
4     1.0     NaN     NaN     NaN     NaN

[5 rows x 86 columns]

In [4]:
archivo_tic.to_excel('C:/Users/sebas/Downloads/Tecnologias de informacion y comunicacion/Tecnologías_de_información_y_comunicación_3.xlsx', index=False)