In [2]:
import pandas as pd

In [3]:
"""
columnas = [
    '',
    ''
]
"""
# Características Generales 2022
caracteristicas_generales_22_1 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación1_22.dta')
caracteristicas_generales_22_2 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación2_22.dta')
caracteristicas_generales_22_3 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación3_22.dta')
caracteristicas_generales_22_4 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación4_22.dta')
caracteristicas_generales_22_5 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación5_22.dta')
caracteristicas_generales_22_6 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación6_22.dta')
caracteristicas_generales_22_7 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación7_22.dta')
caracteristicas_generales_22_8 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación8_22.dta')
caracteristicas_generales_22_9 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación9_22.dta')
caracteristicas_generales_22_10 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación10_22.dta')
caracteristicas_generales_22_11 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación11_22.dta')
caracteristicas_generales_22_12 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación12_22.dta')


# Características Generales 2023
caracteristicas_generales_23_1 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación1_23.dta')
caracteristicas_generales_23_2 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación2_23.dta')
caracteristicas_generales_23_3 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación3_23.dta')
caracteristicas_generales_23_4 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación4_23.dta')
caracteristicas_generales_23_5 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación5_23.dta')
caracteristicas_generales_23_6 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación6_23.dta')
caracteristicas_generales_23_7 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación7_23.dta')
caracteristicas_generales_23_8 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación8_23.dta')
caracteristicas_generales_23_9 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación9_23.dta')
caracteristicas_generales_23_10 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación10_23.dta')
caracteristicas_generales_23_11= pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación11_23.dta')
caracteristicas_generales_23_12 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación12_23.dta')

# Ocupados 2022

ocupados_22_1 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados1_22.dta')
ocupados_22_2 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados2_22.dta')
ocupados_22_3 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados3_22.dta')
ocupados_22_4 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados4_22.dta')
ocupados_22_5 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados5_22.dta')
ocupados_22_6 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados6_22.dta')
ocupados_22_7 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados7_22.dta')
ocupados_22_8 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados8_22.dta')
ocupados_22_9 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados9_22.dta')
ocupados_22_10 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados10_22.dta')
ocupados_22_11 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados11_22.dta')
ocupados_22_12 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados12_22.dta')

# Ocupados 2023

ocupados_23_1 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados1_23.dta')
ocupados_23_2 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados2_23.dta')
ocupados_23_3 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados3_23.dta')
ocupados_23_4 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados4_23.dta')
ocupados_23_5 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados5_23.dta')
ocupados_23_6 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados6_23.dta')
ocupados_23_7 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados7_23.dta')
ocupados_23_8 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados8_23.dta')
ocupados_23_9 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados9_23.dta')
ocupados_23_10 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados10_23.dta')
ocupados_23_11 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados11_23.dta')
ocupados_23_12 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados12_23.dta')


# Factor Departamental 2022

total_22 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/TOTAL_22.dta')


# Factor Departamental 2023

total_23 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/TOTAL_23.dta')

C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:8: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_22_1 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación1_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:9: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_22_2 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación2_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:10: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_22_3 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación3_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:11: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_22_4 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación4_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:12: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_22_5 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación5_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:13: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_22_6 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación6_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:15: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_22_8 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación8_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:16: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_22_9 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación9_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:17: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_22_10 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación10_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:18: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_22_11 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación11_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:19: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_22_12 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación12_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:24: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_23_2 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación2_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:25: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_23_3 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación3_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:26: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_23_4 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación4_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:28: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_23_6 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación6_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:29: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_23_7 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación7_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:30: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_23_8 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación8_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:31: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_23_9 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación9_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:32: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_23_10 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación10_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:33: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_23_11= pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación11_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:34: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  caracteristicas_generales_23_12 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Características generales, seguridad social en salud y educación12_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:38: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_22_1 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados1_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:39: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_22_2 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados2_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:40: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_22_3 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados3_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:41: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_22_4 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados4_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:42: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_22_5 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados5_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:43: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_22_6 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados6_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:44: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_22_7 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados7_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:45: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_22_8 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados8_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:46: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_22_9 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados9_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:47: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_22_10 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados10_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:48: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_22_11 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados11_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:49: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_22_12 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados12_22.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:53: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_23_1 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados1_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:54: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_23_2 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados2_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:55: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_23_3 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados3_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:56: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_23_4 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados4_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:57: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_23_5 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados5_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:58: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_23_6 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados6_23.dta')
C:\Users\sebas\AppData\Local\Temp\ipykernel_6104\3300976785.py:59: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  ocupados_23_7 = pd.read_stata('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/Ocupados7_23.dta')

In [6]:
############# 2022 #################


base_2022 = pd.concat([caracteristicas_generales_22_1, caracteristicas_generales_22_2], axis=0)
base_2022 = pd.concat([base_2022, caracteristicas_generales_22_3], axis=0)
base_2022 = pd.concat([base_2022, caracteristicas_generales_22_4], axis=0)
base_2022 = pd.concat([base_2022, caracteristicas_generales_22_5], axis=0)
base_2022 = pd.concat([base_2022, caracteristicas_generales_22_6], axis=0)
base_2022 = pd.concat([base_2022, caracteristicas_generales_22_7], axis=0)
base_2022 = pd.concat([base_2022, caracteristicas_generales_22_8], axis=0)
base_2022 = pd.concat([base_2022, caracteristicas_generales_22_9], axis=0)
base_2022 = pd.concat([base_2022, caracteristicas_generales_22_10], axis=0)
base_2022 = pd.concat([base_2022, caracteristicas_generales_22_11], axis=0)
base_2022 = pd.concat([base_2022, caracteristicas_generales_22_12], axis=0)


base_2022_x = pd.concat([ocupados_22_1, ocupados_22_2], axis=0)
base_2022_x = pd.concat([base_2022_x, ocupados_22_3], axis=0)
base_2022_x = pd.concat([base_2022_x, ocupados_22_4], axis=0)
base_2022_x  = pd.concat([base_2022_x, ocupados_22_5], axis=0)
base_2022_x  = pd.concat([base_2022_x, ocupados_22_6], axis=0)
base_2022_x  = pd.concat([base_2022_x, ocupados_22_7], axis=0)
base_2022_x  = pd.concat([base_2022_x, ocupados_22_8], axis=0)
base_2022_x  = pd.concat([base_2022_x, ocupados_22_9], axis=0)
base_2022_x  = pd.concat([base_2022_x, ocupados_22_10], axis=0)
base_2022_x  = pd.concat([base_2022_x, ocupados_22_11], axis=0)
base_2022_x  = pd.concat([base_2022_x, ocupados_22_12], axis=0)


#base_2022
base_2022_x


############# 2023 #################


base_2023 = pd.concat([caracteristicas_generales_23_1, caracteristicas_generales_23_2], axis=0)
base_2023 = pd.concat([base_2023, caracteristicas_generales_23_3], axis=0)
base_2023 = pd.concat([base_2023, caracteristicas_generales_23_4], axis=0)
base_2023 = pd.concat([base_2023, caracteristicas_generales_23_5], axis=0)
base_2023 = pd.concat([base_2023, caracteristicas_generales_23_6], axis=0)
base_2023 = pd.concat([base_2023, caracteristicas_generales_23_7], axis=0)
base_2023 = pd.concat([base_2023, caracteristicas_generales_23_8], axis=0)
base_2023 = pd.concat([base_2023, caracteristicas_generales_23_9], axis=0)
base_2023 = pd.concat([base_2023, caracteristicas_generales_23_10], axis=0)
base_2023 = pd.concat([base_2023, caracteristicas_generales_23_11], axis=0)
base_2023 = pd.concat([base_2023, caracteristicas_generales_23_12], axis=0)


base_2023_x = pd.concat([ocupados_23_1, ocupados_23_2], axis=0)
base_2023_x = pd.concat([base_2023_x, ocupados_23_3], axis=0)
base_2023_x = pd.concat([base_2023_x, ocupados_23_4], axis=0)
base_2023_x  = pd.concat([base_2023_x, ocupados_23_5], axis=0)
base_2023_x  = pd.concat([base_2023_x, ocupados_23_6], axis=0)
base_2023_x  = pd.concat([base_2023_x, ocupados_23_7], axis=0)
base_2023_x  = pd.concat([base_2023_x, ocupados_23_8], axis=0)
base_2023_x  = pd.concat([base_2023_x, ocupados_23_9], axis=0)
base_2023_x  = pd.concat([base_2023_x, ocupados_23_10], axis=0)
base_2023_x  = pd.concat([base_2023_x, ocupados_23_11], axis=0)
base_2023_x  = pd.concat([base_2023_x, ocupados_23_12], axis=0)

In [24]:
print(base_2022_x['OCI'])

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
30500    1.0
30501    1.0
30502    1.0
30503    1.0
30504    1.0
Name: OCI, Length: 382461, dtype: float64

In [4]:
# Unión 2022

# Lista de dataframes de características generales
caracteristicas_list = [
    caracteristicas_generales_22_1, caracteristicas_generales_22_2,
    caracteristicas_generales_22_3, caracteristicas_generales_22_4,
    caracteristicas_generales_22_5, caracteristicas_generales_22_6,
    caracteristicas_generales_22_7, caracteristicas_generales_22_8,
    caracteristicas_generales_22_9, caracteristicas_generales_22_10,
    caracteristicas_generales_22_11, caracteristicas_generales_22_12
]

# Lista de dataframes de ocupados
ocupados_list = [
    ocupados_22_1, ocupados_22_2, ocupados_22_3, ocupados_22_4,
    ocupados_22_5, ocupados_22_6, ocupados_22_7, ocupados_22_8,
    ocupados_22_9, ocupados_22_10, ocupados_22_11, ocupados_22_12
]

# Concatenar todos los dataframes de características generales
base_2022 = pd.concat(caracteristicas_list, axis=0)

# Concatenar todos los dataframes de ocupados y seleccionar solo la variable OCI
base_2022_ocupados = pd.concat(ocupados_list, axis=0)[['DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'OCI']]

# Realizar el merge de las bases usando la llave
base_final_2022 = pd.merge(
    base_2022,
    base_2022_ocupados,
    on=['DIRECTORIO', 'SECUENCIA_P', 'ORDEN'],
    how='outer'
)

In [5]:
# Unión 2023

# Lista de dataframes de características generales
caracteristicas_list = [
    caracteristicas_generales_23_1, caracteristicas_generales_23_2,
    caracteristicas_generales_23_3, caracteristicas_generales_23_4,
    caracteristicas_generales_23_5, caracteristicas_generales_23_6,
    caracteristicas_generales_23_7, caracteristicas_generales_23_8,
    caracteristicas_generales_23_9, caracteristicas_generales_23_10,
    caracteristicas_generales_23_11, caracteristicas_generales_23_12
]

# Lista de dataframes de ocupados
ocupados_list = [
    ocupados_23_1, ocupados_23_2, ocupados_23_3, ocupados_23_4,
    ocupados_23_5, ocupados_23_6, ocupados_23_7, ocupados_23_8,
    ocupados_23_9, ocupados_23_10, ocupados_23_11, ocupados_23_12
]

# Concatenar todos los dataframes de características generales
base_2023 = pd.concat(caracteristicas_list, axis=0)

# Concatenar todos los dataframes de ocupados y seleccionar solo la variable OCI
base_2023_ocupados = pd.concat(ocupados_list, axis=0)[['DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'OCI']]

# Realizar el merge de las bases usando la llave
base_final_2023 = pd.merge(
    base_2023,
    base_2023_ocupados,
    on=['DIRECTORIO', 'SECUENCIA_P', 'ORDEN'],
    how='outer'
)

In [37]:
print(base_2023)

          PERIODO MES     PER  DIRECTORIO  SECUENCIA_P  ORDEN  HOGAR REGIS  \
0      20230104.0  01  2023.0   7309060.0          1.0    1.0    1.0    10
1      20230104.0  01  2023.0   7309060.0          1.0    2.0    1.0    10
2      20230104.0  01  2023.0   7309060.0          1.0    3.0    1.0    10
3      20230104.0  01  2023.0   7309061.0          1.0    1.0    1.0    10
4      20230104.0  01  2023.0   7309061.0          1.0    2.0    1.0    10
...           ...  ..     ...         ...          ...    ...    ...   ...
69499  20231249.0  12  2023.0   7655975.0          1.0    4.0    1.0    10
69500  20231249.0  12  2023.0   7655975.0          1.0    5.0    1.0    10
69501  20231249.0  12  2023.0   7655975.0          1.0    6.0    1.0    10
69502  20231249.0  12  2023.0   7655975.0          1.0    7.0    1.0    10
69503  20231249.0  12  2023.0   7655975.0          1.0    8.0    1.0    10

      AREA CLASE  ...  P3038 P3039  POB_MAY18  LGB_Numerica  LGB_sectores  \
0              1  ...    1.0   2.0        1.0           0.0           NaN
1              1  ...    2.0   1.0        1.0           0.0           NaN
2              1  ...    NaN   NaN        NaN           NaN           NaN
3              1  ...    1.0   2.0        1.0           0.0           NaN
4              1  ...    2.0   1.0        1.0           0.0           NaN
...    ...   ...  ...    ...   ...        ...           ...           ...
69499   27     1  ...    1.0   2.0        1.0           NaN           NaN
69500   27     1  ...    1.0   2.0        1.0           NaN           NaN
69501   27     1  ...    2.0   1.0        1.0           NaN           NaN
69502   27     1  ...    NaN   NaN        NaN           NaN           NaN
69503   27     1  ...    NaN   NaN        NaN           NaN           NaN

       LGBT_Numerica Trans_numerica Discapacidad  Dificultad  Campesina
0                0.0            0.0          0.0         0.0        1.0
1                0.0            0.0          0.0         0.0        1.0
2                NaN            NaN          0.0         0.0        0.0
3                0.0            0.0          0.0         0.0        0.0
4                0.0            0.0          0.0         0.0        0.0
...              ...            ...          ...         ...        ...
69499            NaN            NaN          NaN         NaN        NaN
69500            NaN            NaN          NaN         NaN        NaN
69501            NaN            NaN          NaN         NaN        NaN
69502            NaN            NaN          NaN         NaN        NaN
69503            NaN            NaN          NaN         NaN        NaN

[860802 rows x 74 columns]

In [38]:
base_final_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860802 entries, 0 to 860801
Data columns (total 75 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PERIODO         860802 non-null  float64
 1   MES             860802 non-null  object
 2   PER             860802 non-null  float64
 3   DIRECTORIO      860802 non-null  float64
 4   SECUENCIA_P     860802 non-null  float64
 5   ORDEN           860802 non-null  float64
 6   HOGAR           860802 non-null  float64
 7   REGIS           860802 non-null  object
 8   AREA            860802 non-null  object
 9   CLASE           860802 non-null  object
 10  FEX_C18         860802 non-null  float64
 11  DPTO            860802 non-null  object
 12  PT              860802 non-null  float64
 13  P6016           860802 non-null  float64
 14  P3271           860802 non-null  float64
 15  P6040           860802 non-null  float64
 16  P6030S1         860802 non-null  object
 17  P6030S3         860802 non-null  object
 18  P6050           860802 non-null  float64
 19  P6083           860802 non-null  float64
 20  P6083S1         336896 non-null  float64
 21  P6081           860802 non-null  float64
 22  P6081S1         180688 non-null  float64
 23  P2057           860802 non-null  float64
 24  P2059           608795 non-null  float64
 25  P2061           860802 non-null  float64
 26  P6080           860802 non-null  float64
 27  P6080S1         860802 non-null  object
 28  P6080S1A1       860802 non-null  object
 29  P6070           743034 non-null  float64
 30  P6071           328247 non-null  float64
 31  P6071S1         310797 non-null  float64
 32  P3147S1         165236 non-null  float64
 33  P3147S2         150930 non-null  float64
 34  P3147S3         103604 non-null  float64
 35  P3147S4         203448 non-null  float64
 36  P3147S5         20847 non-null   float64
 37  P3147S6         11245 non-null   float64
 38  P3147S7         62925 non-null   float64
 39  P3147S8         102457 non-null  float64
 40  P3147S9         129522 non-null  float64
 41  P3147S10        2205 non-null    float64
 42  P3147S11        264365 non-null  float64
 43  P3147S10A1      860802 non-null  object
 44  P6090           860802 non-null  float64
 45  P6100           821462 non-null  float64
 46  P6110           370204 non-null  float64
 47  P6120           207153 non-null  float64
 48  P1906S1         860802 non-null  float64
 49  P1906S2         860802 non-null  float64
 50  P1906S3         860802 non-null  float64
 51  P1906S4         860802 non-null  float64
 52  P1906S5         860802 non-null  float64
 53  P1906S6         860802 non-null  float64
 54  P1906S7         860802 non-null  float64
 55  P1906S8         860802 non-null  float64
 56  P6160           831109 non-null  float64
 57  P6170           831109 non-null  float64
 58  P3041           226147 non-null  float64
 59  P3042           831109 non-null  float64
 60  P3042S1         831109 non-null  float64
 61  P3042S2         204772 non-null  float64
 62  P3043           421616 non-null  float64
 63  P3043S1         157682 non-null  float64
 64  P3038           631485 non-null  float64
 65  P3039           631485 non-null  float64
 66  POB_MAY18       631485 non-null  float64
 67  LGB_Numerica    108056 non-null  float64
 68  LGB_sectores    1049 non-null    float64
 69  LGBT_Numerica   108056 non-null  float64
 70  Trans_numerica  108056 non-null  float64
 71  Discapacidad    138317 non-null  float64
 72  Dificultad      138317 non-null  float64
 73  Campesina       147685 non-null  float64
 74  OCI             365819 non-null  float64
dtypes: float64(65), object(10)
memory usage: 492.6+ MB

In [6]:
base_final_2022['OCI'] = base_final_2022['OCI'].astype('float64')
base_final_2023['OCI'] = base_final_2023['OCI'].astype('float64')

In [11]:
base_2022_fex = pd.merge(base_final_2022, total_22, on=['DIRECTORIO', 'SECUENCIA_P', 'ORDEN'], how="outer")
base_2022_fex.info()

base_2023_fex = pd.merge(base_final_2023, total_23, on=['DIRECTORIO', 'SECUENCIA_P', 'ORDEN'], how="outer")
#base_2023_fex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919459 entries, 0 to 919458
Data columns (total 79 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DIRECTORIO      919459 non-null  float64
 1   SECUENCIA_P     919459 non-null  float64
 2   ORDEN           919459 non-null  float64
 3   P6016           919459 non-null  float64
 4   P3271           919459 non-null  float64
 5   P6030S1         919459 non-null  object
 6   P6030S3         919459 non-null  object
 7   P6040           919459 non-null  float64
 8   P6050           919459 non-null  float64
 9   P6083           919459 non-null  float64
 10  P6083S1         367202 non-null  float64
 11  P6081           919459 non-null  float64
 12  P6081S1         201473 non-null  float64
 13  P2057           919459 non-null  float64
 14  P2059           664136 non-null  float64
 15  P2061           919459 non-null  float64
 16  P6080           919459 non-null  float64
 17  P6080S1         919459 non-null  object
 18  P6080S1A1       919459 non-null  object
 19  P6070           788124 non-null  float64
 20  P6071           352348 non-null  float64
 21  P6071S1         334333 non-null  float64
 22  P3147S1         181824 non-null  float64
 23  P3147S2         171866 non-null  float64
 24  P3147S3         130586 non-null  float64
 25  P3147S4         254049 non-null  float64
 26  P3147S5         31464 non-null   float64
 27  P3147S6         16208 non-null   float64
 28  P3147S7         73603 non-null   float64
 29  P3147S8         120994 non-null  float64
 30  P3147S9         158185 non-null  float64
 31  P3147S10        2184 non-null    float64
 32  P3147S11        232982 non-null  float64
 33  P3147S10A1      919459 non-null  object
 34  P6090           919459 non-null  float64
 35  P6100           865589 non-null  float64
 36  P6110           393963 non-null  float64
 37  P6120           213732 non-null  float64
 38  P1906S1         919459 non-null  float64
 39  P1906S2         919459 non-null  float64
 40  P1906S3         919459 non-null  float64
 41  P1906S4         919459 non-null  float64
 42  P1906S5         919459 non-null  float64
 43  P1906S6         919459 non-null  float64
 44  P1906S7         919459 non-null  float64
 45  P1906S8         919459 non-null  float64
 46  P6160           885815 non-null  float64
 47  P6170           885815 non-null  float64
 48  P3041           241886 non-null  float64
 49  P3042           885815 non-null  float64
 50  P3042S1         885815 non-null  float64
 51  P3042S2         214543 non-null  float64
 52  P3043           441506 non-null  float64
 53  P3043S1         165184 non-null  float64
 54  HOGAR           919459 non-null  float64
 55  CLASE           919459 non-null  object
 56  P3038           667651 non-null  float64
 57  P3039           667651 non-null  float64
 58  AREA            919459 non-null  object
 59  MES_x           919459 non-null  object
 60  PERIODO         919459 non-null  float64
 61  DPTO_x          919459 non-null  object
 62  pt              238494 non-null  float64
 63  FEX_C18         919459 non-null  float64
 64  LGB_Numerica    667651 non-null  float64
 65  LGB_sectores    6746 non-null    float64
 66  Trans_numerica  667651 non-null  float64
 67  LGBT_Numerica   667651 non-null  float64
 68  Discapacidad    859573 non-null  float64
 69  Dificultad      859573 non-null  float64
 70  Campesina       919459 non-null  float64
 71  POB_MAY18       667651 non-null  float64
 72  PER             919459 non-null  float64
 73  REGIS           919459 non-null  object
 74  PT              680965 non-null  float64
 75  OCI             382461 non-null  float64
 76  MES_y           839075 non-null  float64
 77  FEX_DPTO        839075 non-null  float64
 78  DPTO_y          839075 non-null  object
dtypes: float64(68), object(11)
memory usage: 554.2+ MB

In [17]:
# Cálculo de la variable 'a_educ' para 2022

# Ajusta la columna 'P3042S1_' basada en la condición de 'P3042'
base_2022_fex['P3042S1_'] = base_2022_fex['P3042S1'] / 2 if base_2022_fex['P3042'].isin([7, 8, 9, 10, 11, 12, 13]).any() else base_2022_fex['P3042S1']

# Crea la variable 'a_educ' según las condiciones dadas
base_2022_fex['a_educ'] = base_2022_fex.apply(lambda row:
5 if row['P3042'] == 4 and row['P3042S1_'] == 0 else
5 + row['P3042S1_'] if row['P3042'] == 4 and row['P3042S1_'] != 0 else
row['P3042S1_'] if row['P3042'] in [1, 2, 3] else
9 + row['P3042S1_'] if row['P3042'] in [5, 6] else
11 + row['P3042S1_'] if row['P3042'] in [7, 8, 9, 10] else
16 + row['P3042S1_'] if row['P3042'] in [11, 12] else
18 + row['P3042S1_'] if row['P3042'] == 13 else
float('nan') if row['P3042'] == 99 else
float('nan'), axis=1)

In [19]:
base_2022_fex

,DIRECTORIO,SECUENCIA_P,ORDEN,P6016,P3271,P6030S1,P6030S3,P6040,P6050,P6083,...,POB_MAY18,PER,REGIS,PT,OCI,MES_y,FEX_DPTO,DPTO_y,P3042S1_,a_educ
0,5000000.0,1.0,1.0,1.0,1.0,3,1988,33.0,1.0,1.0,...,1.0,2022.0,10,NaN,1.0,1.0,189.039972,08,1.0,10.0
1,5000000.0,1.0,2.0,2.0,2.0,12,1990,31.0,2.0,2.0,...,1.0,2022.0,10,NaN,NaN,1.0,189.039972,08,1.0,10.0
2,5000000.0,1.0,3.0,3.0,2.0,4,2010,11.0,3.0,1.0,...,NaN,2022.0,10,NaN,NaN,1.0,189.039972,08,2.0,2.0
3,5000000.0,1.0,4.0,2.0,2.0,4,2016,5.0,3.0,1.0,...,NaN,2022.0,10,NaN,NaN,1.0,189.039972,08,0.0,0.0
4,5000000.0,1.0,5.0,2.0,1.0,7,2018,3.0,3.0,1.0,...,NaN,2022.0,10,NaN,NaN,1.0,189.039972,08,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919454,7309049.0,1.0,3.0,1.0,2.0,8,2008,14.0,3.0,1.0,...,NaN,2022.0,10,1.0,NaN,NaN,NaN,NaN,1.5,6.5
919455,7309050.0,1.0,1.0,2.0,1.0,3,1969,53.0,1.0,2.0,...,1.0,2022.0,10,1.0,1.0,NaN,NaN,NaN,2.5,2.5
919456,7309050.0,1.0,2.0,2.0,2.0,9,1992,30.0,2.0,2.0,...,1.0,2022.0,10,1.0,1.0,NaN,NaN,NaN,1.0,10.0
919457,7309050.0,1.0,3.0,2.0,1.0,12,2011,11.0,3.0,1.0,...,NaN,2022.0,10,1.0,NaN,NaN,NaN,NaN,2.0,2.0
919458,7309050.0,1.0,4.0,2.0,1.0,10,2021,1.0,3.0,1.0,...,NaN,2022.0,10,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Cálculo de la variable 'a_educ' para 2023

# Ajusta la columna 'P3042S1_' basada en la condición de 'P3042'
base_2023_fex['P3042S1_'] = base_2023_fex['P3042S1'] / 2 if base_2023_fex['P3042'].isin([7, 8, 9, 10, 11, 12, 13]).any() else base_2023_fex['P3042S1']

# Crea la variable 'a_educ' según las condiciones dadas
base_2023_fex['a_educ'] = base_2023_fex.apply(lambda row:
5 if row['P3042'] == 4 and row['P3042S1_'] == 0 else
5 + row['P3042S1_'] if row['P3042'] == 4 and row['P3042S1_'] != 0 else
row['P3042S1_'] if row['P3042'] in [1, 2, 3] else
9 + row['P3042S1_'] if row['P3042'] in [5, 6] else
11 + row['P3042S1_'] if row['P3042'] in [7, 8, 9, 10] else
16 + row['P3042S1_'] if row['P3042'] in [11, 12] else
18 + row['P3042S1_'] if row['P3042'] == 13 else
float('nan') if row['P3042'] == 99 else
float('nan'), axis=1)

In [22]:
base_2023_fex

,PERIODO,MES_x,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,Trans_numerica,Discapacidad,Dificultad,Campesina,OCI,MES_y,FEX_DPTO,DPTO_y,P3042S1_,a_educ
0,20230104.0,01,2023.0,7309060.0,1.0,1.0,1.0,10,,1,...,0.0,0.0,0.0,1.0,NaN,1.0,36.995340,25,3.0,14.0
1,20230104.0,01,2023.0,7309060.0,1.0,2.0,1.0,10,,1,...,0.0,0.0,0.0,1.0,1.0,1.0,36.995340,25,5.0,16.0
2,20230104.0,01,2023.0,7309060.0,1.0,3.0,1.0,10,,1,...,NaN,0.0,0.0,0.0,NaN,1.0,36.995340,25,1.0,1.0
3,20230104.0,01,2023.0,7309061.0,1.0,1.0,1.0,10,,1,...,0.0,0.0,0.0,0.0,1.0,1.0,34.683496,25,2.5,13.5
4,20230104.0,01,2023.0,7309061.0,1.0,2.0,1.0,10,,1,...,0.0,0.0,0.0,0.0,1.0,1.0,34.683496,25,1.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860797,20231249.0,12,2023.0,7655975.0,1.0,4.0,1.0,10,27,1,...,NaN,NaN,NaN,NaN,NaN,12.0,3.748531,27,1.0,12.0
860798,20231249.0,12,2023.0,7655975.0,1.0,5.0,1.0,10,27,1,...,NaN,NaN,NaN,NaN,1.0,12.0,3.748531,27,5.0,16.0
860799,20231249.0,12,2023.0,7655975.0,1.0,6.0,1.0,10,27,1,...,NaN,NaN,NaN,NaN,NaN,12.0,3.748531,27,5.0,16.0
860800,20231249.0,12,2023.0,7655975.0,1.0,7.0,1.0,10,27,1,...,NaN,NaN,NaN,NaN,NaN,12.0,3.748531,27,0.5,5.5
860801,20231249.0,12,2023.0,7655975.0,1.0,8.0,1.0,10,27,1,...,NaN,NaN,NaN,NaN,NaN,12.0,3.748531,27,0.0,0.0

In [27]:
# Exportar a Excel 2022

with pd.ExcelWriter('archivo_prueba.xlsx', engine='xlsxwriter') as writer:
    base_2022_fex.to_excel(writer, index=False)
    workbook = writer.book
    worksheet = writer.sheets['Sheet1']
    # Formato que preserva decimales y usa separador de miles
    number_format = workbook.add_format({'num_format': '#,##0.0'})
    # Aplicar a las columnas numéricas
    worksheet.set_column('C:D', None, number_format)

In [28]:
# Exportar a Excel 2023

with pd.ExcelWriter('base_2023_fex.xlsx', engine='xlsxwriter') as writer:
    base_2023_fex.to_excel(writer, index=False)
    workbook = writer.book
    worksheet = writer.sheets['Sheet1']
    # Formato que preserva decimales y usa separador de miles
    number_format = workbook.add_format({'num_format': '#,##0.0'})
    # Aplicar a las columnas numéricas
    worksheet.set_column('C:D', None, number_format)

In [ ]:
# Exportación CSV 2022
base_2022_fex.to_csv('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/base_2022_fex.csv', index=False, sep=',', decimal='.')

# Exportación CSV 2023
base_2023_fex.to_csv('C:/Backup - Archivos de trabajo/DNP/IDIC/Datos/GEIH/base_2023_fex.csv', index=False, sep=',', decimal='.')